$font-color: #000;
$bg-color: #001820;
$icon-color: #fff;

body {
  background: url('bg_image.jpg');
  background-position: 60% 20%;
  background-repeat: no-repeat;
  color: $icon-color;
  z-index: -2;
}

.layer {
  background-color: $bg-color;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

nav {
  margin-top: 5vh;
  text-align: right;
  z-index: 1;
}

button {
  background: none;
  border: 0;
  color: $icon-color;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  font-weight: 400;
  padding: 1vh 2vh;
  position: relative;
  transition: width .35s ease-in-out;
  transition-property: left right;

  &.regular {
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 3px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $icon-color;
      transition: width .2s ease;
      -webkit-transition: width .2s ease;
    }
    &:hover::after {
      background: $icon-color;
      width: 100%;
      left: 0;
    }
  }
}

.contact {
  border: 2px solid $icon-color;
  border-radius: 7px;
  &:hover {
    background-color: $icon-color;
    color: $font-color;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  right: 1vh;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
}

.burger {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 25px;
  background: $bg-color;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  li {
    padding: 10px 0;
    font-size: 22px;
  }
}
/*
 * And let's slide it in from the left
 */

#menuToggle input:checked ~ ul {
  transform: none;
}

/*
burger menu display
*/

#menuToggle #iks {
  display: none;
}

#menuToggle input:checked ~ #burger {
  display: none;
}

#menuToggle input:checked ~ #iks {
  display: block;
}

.p1 {
  position: relative;
  text-align: center;
  margin-top: 20vh;
  color: $font-color;
  font-family: 'Raleway', 'sans-serif';
  font-size: 4vh;
}

.p1 strong {
  color: $icon-color;
}

/*
Media queries - background
*/

@media (min-width: 1440px) {
  #menuToggle {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-position: 70% 15%;
    background-size: 170%;
  }
  #menuToggle {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  body {
    background-position: 60% 15%;
    background-size: 190%;
  }
  nav button {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  body {
    background-position: 55% 30%;
    background-size: 600%;
  }
  nav button {
    display: none;
  }
}
